{% load staticfiles %}
{% load search_tags %}
{% static "" as baseUrl %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lobster|Merriweather|Pacifico" rel="stylesheet">
	<title>CAPP30122 HTML</title>

	<!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <!--<link href="css/custom.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static "/custom.css" %}" />
	<script>var __adobewebfontsappname__="dreamweaver"</script>
	<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	
<body>
<!-- Main Container -->
	
	<!-- Top Navigator -->
	<!-- We learn this from w3c school -->
	<div class="topnav">
  		<a href = "/">TRG Group</a>
	</div>
	
	<!-- Feature -->
	<div style = "background-image: url('{{ baseUrl }}/retirement.jpg')" class = "jumbotron feature">
		<div class = "container">
			<h1>HAPPY RETIREMENT</h1>
			<p>Find the best place for your retired life</p>
		</div>
	</div>
	
    <!-- Promos -->
	<div class="container_1">
        <div class="row promo">
        	<a href="#">
				<div class="col-md-4 promo-item_1">
					<h3><font color = '#BB0508'>
						Temperature
					</font>
					</h3>
				</div>
            </a>
            <a href="#">
				<div class="col-md-4 promo-item_2">
					<h3><font color = '#0622A3'>
						Neighbor Income
					</h3>
				</div>
            </a>
			
			<a href="#">
				<div class="col-md-4 promo-item_3">
					<h3><font color = '#396B14'>
						Rent Cost 
					</font>
					</h3>
				</div>
            </a>
        </div>

        <div class="row promo">  	
			<a href="#">
				<div class="col-md-4 promo-item_1">
					<h3><font color = '#0FB0AA'>
						Poverty Rate
				    </font>
					</h3>
				</div>
            </a>
			
			<a href="#">
				<div class="col-md-4 promo-item_2">
					<h3><font color = '#960EE5'>
						Air Quality
					</font>
					</h3>
				</div>
            </a>
			
			<a href="#">
				<div class="col-md-4 promo-item_3">
					<h3><font color = '#dd845a'>
						Education
					</font>
					</h3>
				</div>
            </a>
        </div>
    </div><!-- /.container-fluid -->
	
	<!-- Heading -->
	<div class="container">
        <h1 >Explore Your Neighborhood</h1>
    </div>
 
	
	<div class="container">
		<div class="floatLeft">
			<table>
			<tr>
				<th>County Features</th>
			</tr>
			<tr>
				<td class = "tablerow"> Income</td>
			</tr>
			<tr>
				<td class = "tablerow"> Safety</td>
			</tr>
			<tr>
				<td class = "tablerow"> Air quality</td>
			</tr>
			</table>
		</div>

		<div class = "floatRight">
				<div class="frame">
		            <form method="get">
		                
		                <table class="form">
		                {{ form }}
		                </table>
		                <input type="submit" value="Search" />
		            </form>
		        </div>


		        {% if args %}
		        <div class="args">
		            <pre>{{ args }}</pre>
		        </div>
		        {% endif %}

		        {% if err %}
		        <div class="error">
		            {{ err|safe }}
		        </div>
		        {% endif %}



		        <div class="frame">
		            {% if result != None %}
		            <div class="results">
		                <table class="courses">

		                    <tr>
		                        <th> States</th>
		                        <th> Recommended county(ies)</th>
		                        
		                    </tr>

		                    {% for entry in result %}
		                    <tr>
		                        <td>
		                            <a>
		                                {{ entry.State_name }}
		                            </a>
		                        </td>
		                        
		                        <td>
		                            <a href="/{{entry.ST}}/{{entry.COUNTY}}">
		                                {{ entry.NAME }}
		                            </a>
		                        </td>
		                        
		                    </tr>
		                    {% endfor %}
		                </table>
		            </div>
		            <p class="num_results">Results: {{ num_results }}</p>
		            {% endif %}


		        </div>
		</div>
	</div>

    <style>
        .image { background-size: contain; 
                 background-position: right;}
        @media (min-width: 768px) {
          .container {
            width: 750px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 970px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1170px;
          }
        }
    </style>

<!-- Main Container Ends -->
</body>
</html>
