
    {% load staticfiles %}
    {% load search_tags %}
    {% static "" as baseUrl %}
    
    <!DOCTYPE html>
    <html lang="en-US">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lobster|Merriweather|Pacifico" rel="stylesheet">
    	<title>CAPP30122 HTML</title>
    
    	<!-- Bootstrap Core CSS -->
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <!--<link href="css/custom.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{% static "/custom.css" %}" />
    	<script>var __adobewebfontsappname__="dreamweaver"</script>
    	<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    	
    <body>
    <!-- Main Container -->
    	
    	<!-- Top Navigator -->
    	<!-- We learn this from w3c school -->
    	<div class="topnav">
      		<a href = "/">TRG Group</a>
    	</div>
    	
    	<!-- Feature -->
    	<div style = "background-image: url('{{ baseUrl }}/retirement.jpg')" class = "jumbotron feature">
    		<div class = "container">
    			<h1>HAPPY RETIREMENT</h1>
    			<p>Find the best place for your retired life</p>
    		</div>
    	</div>
        
            <!-- Figure -->
            <section>
            <div class = "container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 align="center"><font color = "black">
                        The Geography ofShare with College Degree in America
                    </font></h1>
                </div>
            </div>
        
            <center>
            <img src = "{{ baseUrl }}/national_choroplethShare_college_ormore.png"           
                 style="width: 80%; margin-bottom: 0%; margin-top: 0%;">    
            </center>
        </div>
        </section>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><font color = "black" size = '-1'>
                    <h1 align="center"><font color = "black">List of Counties with the Highest Share with College Degree</font></h1>
                </font>
                </div>
            </div>
        </div>
        
        <!-- List of table here-->
        <div>
                    <table align = center class = "table" width = "70%" border = "1" frame = "void" 
        			   rules = "rows">
            		<thead>
            			<th style="text-align: left;"><font size = "-1">Rank</font></th>
            			<th style="text-align: left;"><font size = "-1">County</font></th>
            			<th style="text-align: left;"><font size = "-1">State</font></th>
            			<th style="text-align: right;"><font size = "-1">Share with College Degree (%)</font></th>
            		</thead> 

                     	<tr> 
		<td align="left">1</td> 
		<td align="left"><a href = "/51/610">Falls Church city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.79</td> 
	</tr> 
	<tr> 
		<td align="left">2</td> 
		<td align="left"><a href = "/51/13">Arlington County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.73</td> 
	</tr> 
	<tr> 
		<td align="left">3</td> 
		<td align="left"><a href = "/35/28">Los Alamos County</a></td> 
		<td align="left"> New Mexico</td> 
		<td align="right">0.64</td> 
	</tr> 
	<tr> 
		<td align="left">4</td> 
		<td align="left"><a href = "/51/510">Alexandria city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.61</td> 
	</tr> 
	<tr> 
		<td align="left">5</td> 
		<td align="left"><a href = "/24/27">Howard County</a></td> 
		<td align="left"> Maryland</td> 
		<td align="right">0.61</td> 
	</tr> 
	<tr> 
		<td align="left">6</td> 
		<td align="left"><a href = "/36/61">New York County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.6</td> 
	</tr> 
	<tr> 
		<td align="left">7</td> 
		<td align="left"><a href = "/51/59">Fairfax County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.6</td> 
	</tr> 
	<tr> 
		<td align="left">8</td> 
		<td align="left"><a href = "/8/97">Pitkin County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.59</td> 
	</tr> 
	<tr> 
		<td align="left">9</td> 
		<td align="left"><a href = "/8/13">Boulder County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.59</td> 
	</tr> 
	<tr> 
		<td align="left">10</td> 
		<td align="left"><a href = "/51/107">Loudoun County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.58</td> 
	</tr> 
	<tr> 
		<td align="left">11</td> 
		<td align="left"><a href = "/24/31">Montgomery County</a></td> 
		<td align="left"> Maryland</td> 
		<td align="right">0.58</td> 
	</tr> 
	<tr> 
		<td align="left">12</td> 
		<td align="left"><a href = "/37/135">Orange County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.57</td> 
	</tr> 
	<tr> 
		<td align="left">13</td> 
		<td align="left"><a href = "/8/35">Douglas County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.57</td> 
	</tr> 
	<tr> 
		<td align="left">14</td> 
		<td align="left"><a href = "/18/57">Hamilton County</a></td> 
		<td align="left"> Indiana</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">15</td> 
		<td align="left"><a href = "/6/41">Marin County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">16</td> 
		<td align="left"><a href = "/47/187">Williamson County</a></td> 
		<td align="left"> Tennessee</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">17</td> 
		<td align="left"><a href = "/51/600">Fairfax city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.55</td> 
	</tr> 
	<tr> 
		<td align="left">18</td> 
		<td align="left"><a href = "/11/1">District of Columbia</a></td> 
		<td align="left"> District of Columbia</td> 
		<td align="right">0.55</td> 
	</tr> 
	<tr> 
		<td align="left">19</td> 
		<td align="left"><a href = "/8/51">Gunnison County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">20</td> 
		<td align="left"><a href = "/56/39">Teton County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">21</td> 
		<td align="left"><a href = "/8/113">San Miguel County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">22</td> 
		<td align="left"><a href = "/6/75">San Francisco County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">23</td> 
		<td align="left"><a href = "/20/91">Johnson County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">24</td> 
		<td align="left"><a href = "/41/3">Benton County</a></td> 
		<td align="left"> Oregon</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">25</td> 
		<td align="left"><a href = "/26/161">Washtenaw County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">26</td> 
		<td align="left"><a href = "/34/35">Somerset County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">27</td> 
		<td align="left"><a href = "/51/830">Williamsburg city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">28</td> 
		<td align="left"><a href = "/8/91">Ouray County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">29</td> 
		<td align="left"><a href = "/25/17">Middlesex County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">30</td> 
		<td align="left"><a href = "/8/14">Broomfield County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">31</td> 
		<td align="left"><a href = "/39/41">Delaware County</a></td> 
		<td align="left"> Ohio</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">32</td> 
		<td align="left"><a href = "/51/3">Albemarle County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">33</td> 
		<td align="left"><a href = "/19/103">Johnson County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">34</td> 
		<td align="left"><a href = "/34/27">Morris County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">35</td> 
		<td align="left"><a href = "/36/109">Tompkins County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">36</td> 
		<td align="left"><a href = "/49/43">Summit County</a></td> 
		<td align="left"> Utah</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">37</td> 
		<td align="left"><a href = "/25/21">Norfolk County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">38</td> 
		<td align="left"><a href = "/8/107">Routt County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">39</td> 
		<td align="left"><a href = "/51/540">Charlottesville city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">40</td> 
		<td align="left"><a href = "/48/85">Collin County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">41</td> 
		<td align="left"><a href = "/56/1">Albany County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">42</td> 
		<td align="left"><a href = "/13/121">Fulton County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">43</td> 
		<td align="left"><a href = "/20/45">Douglas County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">44</td> 
		<td align="left"><a href = "/42/29">Chester County</a></td> 
		<td align="left"> Pennsylvania</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">45</td> 
		<td align="left"><a href = "/37/183">Wake County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">46</td> 
		<td align="left"><a href = "/53/75">Whitman County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">47</td> 
		<td align="left"><a href = "/8/117">Summit County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">48</td> 
		<td align="left"><a href = "/50/7">Chittenden County</a></td> 
		<td align="left"> Vermont</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">49</td> 
		<td align="left"><a href = "/34/19">Hunterdon County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">50</td> 
		<td align="left"><a href = "/19/169">Story County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">51</td> 
		<td align="left"><a href = "/30/31">Gallatin County</a></td> 
		<td align="left"> Montana</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">52</td> 
		<td align="left"><a href = "/6/85">Santa Clara County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">53</td> 
		<td align="left"><a href = "/55/25">Dane County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">54</td> 
		<td align="left"><a href = "/53/33">King County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">55</td> 
		<td align="left"><a href = "/29/19">Boone County</a></td> 
		<td align="left"> Missouri</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">56</td> 
		<td align="left"><a href = "/51/95">James City County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">57</td> 
		<td align="left"><a href = "/27/53">Hennepin County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">58</td> 
		<td align="left"><a href = "/34/3">Bergen County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">59</td> 
		<td align="left"><a href = "/42/91">Montgomery County</a></td> 
		<td align="left"> Pennsylvania</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">60</td> 
		<td align="left"><a href = "/8/37">Eagle County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">61</td> 
		<td align="left"><a href = "/36/119">Westchester County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">62</td> 
		<td align="left"><a href = "/17/43">DuPage County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">63</td> 
		<td align="left"><a href = "/53/55">San Juan County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">64</td> 
		<td align="left"><a href = "/55/89">Ozaukee County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">65</td> 
		<td align="left"><a href = "/28/89">Madison County</a></td> 
		<td align="left"> Mississippi</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">66</td> 
		<td align="left"><a href = "/48/453">Travis County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">67</td> 
		<td align="left"><a href = "/9/1">Fairfield County</a></td> 
		<td align="left"> Connecticut</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">68</td> 
		<td align="left"><a href = "/37/63">Durham County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">69</td> 
		<td align="left"><a href = "/51/121">Montgomery County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">70</td> 
		<td align="left"><a href = "/16/57">Latah County</a></td> 
		<td align="left"> Idaho</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">71</td> 
		<td align="left"><a href = "/6/81">San Mateo County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">72</td> 
		<td align="left"><a href = "/13/117">Forsyth County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">73</td> 
		<td align="left"><a href = "/27/19">Carver County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">74</td> 
		<td align="left"><a href = "/44/1">Bristol County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">75</td> 
		<td align="left"><a href = "/44/5">Newport County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">76</td> 
		<td align="left"><a href = "/46/27">Clay County</a></td> 
		<td align="left"> South Dakota</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">77</td> 
		<td align="left"><a href = "/12/73">Leon County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">78</td> 
		<td align="left"><a href = "/18/105">Monroe County</a></td> 
		<td align="left"> Indiana</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">79</td> 
		<td align="left"><a href = "/8/31">Denver County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">80</td> 
		<td align="left"><a href = "/20/161">Riley County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">81</td> 
		<td align="left"><a href = "/13/219">Oconee County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">82</td> 
		<td align="left"><a href = "/26/125">Oakland County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">83</td> 
		<td align="left"><a href = "/8/69">Larimer County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">84</td> 
		<td align="left"><a href = "/19/49">Dallas County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">85</td> 
		<td align="left"><a href = "/25/15">Hampshire County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">86</td> 
		<td align="left"><a href = "/44/9">Washington County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">87</td> 
		<td align="left"><a href = "/13/67">Cobb County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">88</td> 
		<td align="left"><a href = "/17/113">McLean County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">89</td> 
		<td align="left"><a href = "/51/678">Lexington city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">90</td> 
		<td align="left"><a href = "/13/113">Fayette County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">91</td> 
		<td align="left"><a href = "/48/157">Fort Bend County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">92</td> 
		<td align="left"><a href = "/25/19">Nantucket County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">93</td> 
		<td align="left"><a href = "/17/19">Champaign County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">94</td> 
		<td align="left"><a href = "/8/67">La Plata County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">95</td> 
		<td align="left"><a href = "/17/97">Lake County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">96</td> 
		<td align="left"><a href = "/23/5">Cumberland County</a></td> 
		<td align="left"> Maine</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">97</td> 
		<td align="left"><a href = "/28/105">Oktibbeha County</a></td> 
		<td align="left"> Mississippi</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">98</td> 
		<td align="left"><a href = "/6/1">Alameda County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">99</td> 
		<td align="left"><a href = "/16/13">Blaine County</a></td> 
		<td align="left"> Idaho</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">100</td> 
		<td align="left"><a href = "/36/59">Nassau County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.43</td> 
	</tr> 
	</table>
	</div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 align="center">List of Counties with the Lowest Share with College Degree</h1>
            </div>
        </div>
    </div>
    <div>
                    <table align = center class = "table" width = "70%" border = "1" frame = "void" 
        			   rules = "rows">
            		<thead>
            			<th style="text-align: left;"><font size = "-1">Rank</font></th>
            			<th style="text-align: left;"><font size = "-1">County</font></th>
            			<th style="text-align: left;"><font size = "-1">State</font></th>
            			<th style="text-align: right;"><font size = "-1">Share with College Degree (%)</font></th>
            		</thead> 

                     	<tr> 
		<td align="left">1</td> 
		<td align="left"><a href = "/51/610">Falls Church city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.79</td> 
	</tr> 
	<tr> 
		<td align="left">2</td> 
		<td align="left"><a href = "/51/13">Arlington County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.73</td> 
	</tr> 
	<tr> 
		<td align="left">3</td> 
		<td align="left"><a href = "/35/28">Los Alamos County</a></td> 
		<td align="left"> New Mexico</td> 
		<td align="right">0.64</td> 
	</tr> 
	<tr> 
		<td align="left">4</td> 
		<td align="left"><a href = "/51/510">Alexandria city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.61</td> 
	</tr> 
	<tr> 
		<td align="left">5</td> 
		<td align="left"><a href = "/24/27">Howard County</a></td> 
		<td align="left"> Maryland</td> 
		<td align="right">0.61</td> 
	</tr> 
	<tr> 
		<td align="left">6</td> 
		<td align="left"><a href = "/36/61">New York County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.6</td> 
	</tr> 
	<tr> 
		<td align="left">7</td> 
		<td align="left"><a href = "/51/59">Fairfax County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.6</td> 
	</tr> 
	<tr> 
		<td align="left">8</td> 
		<td align="left"><a href = "/8/97">Pitkin County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.59</td> 
	</tr> 
	<tr> 
		<td align="left">9</td> 
		<td align="left"><a href = "/8/13">Boulder County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.59</td> 
	</tr> 
	<tr> 
		<td align="left">10</td> 
		<td align="left"><a href = "/51/107">Loudoun County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.58</td> 
	</tr> 
	<tr> 
		<td align="left">11</td> 
		<td align="left"><a href = "/24/31">Montgomery County</a></td> 
		<td align="left"> Maryland</td> 
		<td align="right">0.58</td> 
	</tr> 
	<tr> 
		<td align="left">12</td> 
		<td align="left"><a href = "/37/135">Orange County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.57</td> 
	</tr> 
	<tr> 
		<td align="left">13</td> 
		<td align="left"><a href = "/8/35">Douglas County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.57</td> 
	</tr> 
	<tr> 
		<td align="left">14</td> 
		<td align="left"><a href = "/18/57">Hamilton County</a></td> 
		<td align="left"> Indiana</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">15</td> 
		<td align="left"><a href = "/6/41">Marin County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">16</td> 
		<td align="left"><a href = "/47/187">Williamson County</a></td> 
		<td align="left"> Tennessee</td> 
		<td align="right">0.56</td> 
	</tr> 
	<tr> 
		<td align="left">17</td> 
		<td align="left"><a href = "/51/600">Fairfax city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.55</td> 
	</tr> 
	<tr> 
		<td align="left">18</td> 
		<td align="left"><a href = "/11/1">District of Columbia</a></td> 
		<td align="left"> District of Columbia</td> 
		<td align="right">0.55</td> 
	</tr> 
	<tr> 
		<td align="left">19</td> 
		<td align="left"><a href = "/8/51">Gunnison County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">20</td> 
		<td align="left"><a href = "/56/39">Teton County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">21</td> 
		<td align="left"><a href = "/8/113">San Miguel County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">22</td> 
		<td align="left"><a href = "/6/75">San Francisco County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.54</td> 
	</tr> 
	<tr> 
		<td align="left">23</td> 
		<td align="left"><a href = "/20/91">Johnson County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">24</td> 
		<td align="left"><a href = "/41/3">Benton County</a></td> 
		<td align="left"> Oregon</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">25</td> 
		<td align="left"><a href = "/26/161">Washtenaw County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">26</td> 
		<td align="left"><a href = "/34/35">Somerset County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">27</td> 
		<td align="left"><a href = "/51/830">Williamsburg city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">28</td> 
		<td align="left"><a href = "/8/91">Ouray County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">29</td> 
		<td align="left"><a href = "/25/17">Middlesex County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">30</td> 
		<td align="left"><a href = "/8/14">Broomfield County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">31</td> 
		<td align="left"><a href = "/39/41">Delaware County</a></td> 
		<td align="left"> Ohio</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">32</td> 
		<td align="left"><a href = "/51/3">Albemarle County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.52</td> 
	</tr> 
	<tr> 
		<td align="left">33</td> 
		<td align="left"><a href = "/19/103">Johnson County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">34</td> 
		<td align="left"><a href = "/34/27">Morris County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">35</td> 
		<td align="left"><a href = "/36/109">Tompkins County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">36</td> 
		<td align="left"><a href = "/49/43">Summit County</a></td> 
		<td align="left"> Utah</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">37</td> 
		<td align="left"><a href = "/25/21">Norfolk County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.51</td> 
	</tr> 
	<tr> 
		<td align="left">38</td> 
		<td align="left"><a href = "/8/107">Routt County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">39</td> 
		<td align="left"><a href = "/51/540">Charlottesville city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">40</td> 
		<td align="left"><a href = "/48/85">Collin County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.5</td> 
	</tr> 
	<tr> 
		<td align="left">41</td> 
		<td align="left"><a href = "/56/1">Albany County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">42</td> 
		<td align="left"><a href = "/13/121">Fulton County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">43</td> 
		<td align="left"><a href = "/20/45">Douglas County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">44</td> 
		<td align="left"><a href = "/42/29">Chester County</a></td> 
		<td align="left"> Pennsylvania</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">45</td> 
		<td align="left"><a href = "/37/183">Wake County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">46</td> 
		<td align="left"><a href = "/53/75">Whitman County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">47</td> 
		<td align="left"><a href = "/8/117">Summit County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">48</td> 
		<td align="left"><a href = "/50/7">Chittenden County</a></td> 
		<td align="left"> Vermont</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">49</td> 
		<td align="left"><a href = "/34/19">Hunterdon County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.49</td> 
	</tr> 
	<tr> 
		<td align="left">50</td> 
		<td align="left"><a href = "/19/169">Story County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">51</td> 
		<td align="left"><a href = "/30/31">Gallatin County</a></td> 
		<td align="left"> Montana</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">52</td> 
		<td align="left"><a href = "/6/85">Santa Clara County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">53</td> 
		<td align="left"><a href = "/55/25">Dane County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">54</td> 
		<td align="left"><a href = "/53/33">King County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.48</td> 
	</tr> 
	<tr> 
		<td align="left">55</td> 
		<td align="left"><a href = "/29/19">Boone County</a></td> 
		<td align="left"> Missouri</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">56</td> 
		<td align="left"><a href = "/51/95">James City County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">57</td> 
		<td align="left"><a href = "/27/53">Hennepin County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">58</td> 
		<td align="left"><a href = "/34/3">Bergen County</a></td> 
		<td align="left"> New Jersey</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">59</td> 
		<td align="left"><a href = "/42/91">Montgomery County</a></td> 
		<td align="left"> Pennsylvania</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">60</td> 
		<td align="left"><a href = "/8/37">Eagle County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">61</td> 
		<td align="left"><a href = "/36/119">Westchester County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">62</td> 
		<td align="left"><a href = "/17/43">DuPage County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">63</td> 
		<td align="left"><a href = "/53/55">San Juan County</a></td> 
		<td align="left"> Washington</td> 
		<td align="right">0.47</td> 
	</tr> 
	<tr> 
		<td align="left">64</td> 
		<td align="left"><a href = "/55/89">Ozaukee County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">65</td> 
		<td align="left"><a href = "/28/89">Madison County</a></td> 
		<td align="left"> Mississippi</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">66</td> 
		<td align="left"><a href = "/48/453">Travis County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">67</td> 
		<td align="left"><a href = "/9/1">Fairfield County</a></td> 
		<td align="left"> Connecticut</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">68</td> 
		<td align="left"><a href = "/37/63">Durham County</a></td> 
		<td align="left"> North Carolina</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">69</td> 
		<td align="left"><a href = "/51/121">Montgomery County</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">70</td> 
		<td align="left"><a href = "/16/57">Latah County</a></td> 
		<td align="left"> Idaho</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">71</td> 
		<td align="left"><a href = "/6/81">San Mateo County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">72</td> 
		<td align="left"><a href = "/13/117">Forsyth County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.46</td> 
	</tr> 
	<tr> 
		<td align="left">73</td> 
		<td align="left"><a href = "/27/19">Carver County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">74</td> 
		<td align="left"><a href = "/44/1">Bristol County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">75</td> 
		<td align="left"><a href = "/44/5">Newport County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">76</td> 
		<td align="left"><a href = "/46/27">Clay County</a></td> 
		<td align="left"> South Dakota</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">77</td> 
		<td align="left"><a href = "/12/73">Leon County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">78</td> 
		<td align="left"><a href = "/18/105">Monroe County</a></td> 
		<td align="left"> Indiana</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">79</td> 
		<td align="left"><a href = "/8/31">Denver County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">80</td> 
		<td align="left"><a href = "/20/161">Riley County</a></td> 
		<td align="left"> Kansas</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">81</td> 
		<td align="left"><a href = "/13/219">Oconee County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.45</td> 
	</tr> 
	<tr> 
		<td align="left">82</td> 
		<td align="left"><a href = "/26/125">Oakland County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">83</td> 
		<td align="left"><a href = "/8/69">Larimer County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">84</td> 
		<td align="left"><a href = "/19/49">Dallas County</a></td> 
		<td align="left"> Iowa</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">85</td> 
		<td align="left"><a href = "/25/15">Hampshire County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">86</td> 
		<td align="left"><a href = "/44/9">Washington County</a></td> 
		<td align="left"> Rhode Island</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">87</td> 
		<td align="left"><a href = "/13/67">Cobb County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">88</td> 
		<td align="left"><a href = "/17/113">McLean County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">89</td> 
		<td align="left"><a href = "/51/678">Lexington city</a></td> 
		<td align="left"> Virginia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">90</td> 
		<td align="left"><a href = "/13/113">Fayette County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">91</td> 
		<td align="left"><a href = "/48/157">Fort Bend County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">92</td> 
		<td align="left"><a href = "/25/19">Nantucket County</a></td> 
		<td align="left"> Massachusetts</td> 
		<td align="right">0.44</td> 
	</tr> 
	<tr> 
		<td align="left">93</td> 
		<td align="left"><a href = "/17/19">Champaign County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">94</td> 
		<td align="left"><a href = "/8/67">La Plata County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">95</td> 
		<td align="left"><a href = "/17/97">Lake County</a></td> 
		<td align="left"> Illinois</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">96</td> 
		<td align="left"><a href = "/23/5">Cumberland County</a></td> 
		<td align="left"> Maine</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">97</td> 
		<td align="left"><a href = "/28/105">Oktibbeha County</a></td> 
		<td align="left"> Mississippi</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">98</td> 
		<td align="left"><a href = "/6/1">Alameda County</a></td> 
		<td align="left"> California</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">99</td> 
		<td align="left"><a href = "/16/13">Blaine County</a></td> 
		<td align="left"> Idaho</td> 
		<td align="right">0.43</td> 
	</tr> 
	<tr> 
		<td align="left">100</td> 
		<td align="left"><a href = "/36/59">Nassau County</a></td> 
		<td align="left"> New York</td> 
		<td align="right">0.43</td> 
	</tr> 
	</table>
	</div>
            <style>
        .table { 
            border-bottom: 1px; 
            text-color: black; 
            text-align: center; 
            font-family: Montserrat,sans-serif; 
            border-top: 1px solid black;
            font-size: 12px;
        }
        .table th { border: 0px }
        .table td {
            border: none;
        }
        .table tr{
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            border-collapse: collapse;
        }
        .fixed-table-container { border:0px ; }
        .table_header { font-size: 13px; text-align: center; }
        </style>

    </body>
    </html>
    