
    {% load staticfiles %}
    {% load search_tags %}
    {% static "" as baseUrl %}
    
    <!DOCTYPE html>
    <html lang="en-US">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lobster|Merriweather|Pacifico" rel="stylesheet">
    	<title>CAPP30122 HTML</title>
    
    	<!-- Bootstrap Core CSS -->
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
        <!--<link href="css/custom.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{% static "/custom.css" %}" />
    	<script>var __adobewebfontsappname__="dreamweaver"</script>
    	<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    	
    <body>
    <!-- Main Container -->
    	
    	<!-- Top Navigator -->
    	<!-- We learn this from w3c school -->
    	<div class="topnav">
      		<a href = "/">TRG Group</a>
    	</div>
    	
    	<!-- Feature -->
    	<div style = "background-image: url('{{ baseUrl }}/retirement.jpg')" class = "jumbotron feature">
    		<div class = "container">
    			<h1>HAPPY RETIREMENT</h1>
    			<p>Find the best place for your retired life</p>
    		</div>
    	</div>
        
            <!-- Figure -->
            <section>
            <div class = "container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 align="center"><font color = "black">
                        The Geography of Winter Temperature in America
                    </font></h1>
                </div>
            </div>
        
            <center>
            <img src = "{{ baseUrl }}/national_choroplethwinter_avg_temp.png"           
                 style="width: 80%; margin-bottom: 0%; margin-top: 0%;">    
            </center>
        </div>
        </section>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><font color = "black" size = '-1'>
                    <h1 align="center"><font color = "black">List of Counties with the Highest Winter Temperature</font></h1>
                </font>
                </div>
            </div>
        </div>
        
        <!-- List of table here-->
        <div>
                    <table align = center class = "table" width = "70%" border = "1" frame = "void" 
        			   rules = "rows">
            		<thead>
            			<th style="text-align: left;"><font size = "-1">Rank</font></th>
            			<th style="text-align: left;"><font size = "-1">County</font></th>
            			<th style="text-align: left;"><font size = "-1">State</font></th>
            			<th style="text-align: right;"><font size = "-1">Winter Average Temperature (F)</font></th>
            		</thead> 

                     	<tr> 
		<td align="left">1</td> 
		<td align="left"><a href = "/15/9">Maui County</a></td> 
		<td align="left"> Hawaii</td> 
		<td align="right">73.57</td> 
	</tr> 
	<tr> 
		<td align="left">2</td> 
		<td align="left"><a href = "/15/3">Honolulu County</a></td> 
		<td align="left"> Hawaii</td> 
		<td align="right">72.87</td> 
	</tr> 
	<tr> 
		<td align="left">3</td> 
		<td align="left"><a href = "/15/7">Kauai County</a></td> 
		<td align="left"> Hawaii</td> 
		<td align="right">71.73</td> 
	</tr> 
	<tr> 
		<td align="left">4</td> 
		<td align="left"><a href = "/12/11">Broward County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">67.83</td> 
	</tr> 
	<tr> 
		<td align="left">5</td> 
		<td align="left"><a href = "/12/87">Monroe County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">67.07</td> 
	</tr> 
	<tr> 
		<td align="left">6</td> 
		<td align="left"><a href = "/12/21">Collier County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">66.07</td> 
	</tr> 
	<tr> 
		<td align="left">7</td> 
		<td align="left"><a href = "/12/86">Miami-Dade County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">65.83</td> 
	</tr> 
	<tr> 
		<td align="left">8</td> 
		<td align="left"><a href = "/12/71">Lee County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">65.77</td> 
	</tr> 
	<tr> 
		<td align="left">9</td> 
		<td align="left"><a href = "/12/99">Palm Beach County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">64.43</td> 
	</tr> 
	<tr> 
		<td align="left">10</td> 
		<td align="left"><a href = "/12/51">Hendry County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">64.4</td> 
	</tr> 
	<tr> 
		<td align="left">11</td> 
		<td align="left"><a href = "/12/85">Martin County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">64.27</td> 
	</tr> 
	<tr> 
		<td align="left">12</td> 
		<td align="left"><a href = "/12/15">Charlotte County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.9</td> 
	</tr> 
	<tr> 
		<td align="left">13</td> 
		<td align="left"><a href = "/12/105">Polk County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.63</td> 
	</tr> 
	<tr> 
		<td align="left">14</td> 
		<td align="left"><a href = "/12/111">St. Lucie County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.6</td> 
	</tr> 
	<tr> 
		<td align="left">15</td> 
		<td align="left"><a href = "/12/43">Glades County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.43</td> 
	</tr> 
	<tr> 
		<td align="left">16</td> 
		<td align="left"><a href = "/12/61">Indian River County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.23</td> 
	</tr> 
	<tr> 
		<td align="left">17</td> 
		<td align="left"><a href = "/12/115">Sarasota County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.2</td> 
	</tr> 
	<tr> 
		<td align="left">18</td> 
		<td align="left"><a href = "/12/103">Pinellas County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.07</td> 
	</tr> 
	<tr> 
		<td align="left">19</td> 
		<td align="left"><a href = "/12/49">Hardee County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">63.07</td> 
	</tr> 
	<tr> 
		<td align="left">20</td> 
		<td align="left"><a href = "/12/57">Hillsborough County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">62.43</td> 
	</tr> 
	<tr> 
		<td align="left">21</td> 
		<td align="left"><a href = "/12/95">Orange County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">62.13</td> 
	</tr> 
	<tr> 
		<td align="left">22</td> 
		<td align="left"><a href = "/12/81">Manatee County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">62.1</td> 
	</tr> 
	<tr> 
		<td align="left">23</td> 
		<td align="left"><a href = "/48/61">Cameron County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">62.1</td> 
	</tr> 
	<tr> 
		<td align="left">24</td> 
		<td align="left"><a href = "/12/9">Brevard County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">62.0</td> 
	</tr> 
	<tr> 
		<td align="left">25</td> 
		<td align="left"><a href = "/12/93">Okeechobee County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">61.93</td> 
	</tr> 
	<tr> 
		<td align="left">26</td> 
		<td align="left"><a href = "/12/27">DeSoto County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">61.77</td> 
	</tr> 
	<tr> 
		<td align="left">27</td> 
		<td align="left"><a href = "/12/55">Highlands County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">61.73</td> 
	</tr> 
	<tr> 
		<td align="left">28</td> 
		<td align="left"><a href = "/12/97">Osceola County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">61.5</td> 
	</tr> 
	<tr> 
		<td align="left">29</td> 
		<td align="left"><a href = "/12/117">Seminole County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">61.43</td> 
	</tr> 
	<tr> 
		<td align="left">30</td> 
		<td align="left"><a href = "/48/215">Hidalgo County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">60.5</td> 
	</tr> 
	<tr> 
		<td align="left">31</td> 
		<td align="left"><a href = "/12/69">Lake County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">60.37</td> 
	</tr> 
	<tr> 
		<td align="left">32</td> 
		<td align="left"><a href = "/48/489">Willacy County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">60.3</td> 
	</tr> 
	<tr> 
		<td align="left">33</td> 
		<td align="left"><a href = "/12/83">Marion County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">59.63</td> 
	</tr> 
	<tr> 
		<td align="left">34</td> 
		<td align="left"><a href = "/48/427">Starr County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">59.53</td> 
	</tr> 
	<tr> 
		<td align="left">35</td> 
		<td align="left"><a href = "/48/273">Kleberg County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">58.9</td> 
	</tr> 
	<tr> 
		<td align="left">36</td> 
		<td align="left"><a href = "/48/505">Zapata County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">58.7</td> 
	</tr> 
	<tr> 
		<td align="left">37</td> 
		<td align="left"><a href = "/12/119">Sumter County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.7</td> 
	</tr> 
	<tr> 
		<td align="left">38</td> 
		<td align="left"><a href = "/12/101">Pasco County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.5</td> 
	</tr> 
	<tr> 
		<td align="left">39</td> 
		<td align="left"><a href = "/12/53">Hernando County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.5</td> 
	</tr> 
	<tr> 
		<td align="left">40</td> 
		<td align="left"><a href = "/48/249">Jim Wells County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">58.33</td> 
	</tr> 
	<tr> 
		<td align="left">41</td> 
		<td align="left"><a href = "/48/7">Aransas County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">58.33</td> 
	</tr> 
	<tr> 
		<td align="left">42</td> 
		<td align="left"><a href = "/12/107">Putnam County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.3</td> 
	</tr> 
	<tr> 
		<td align="left">43</td> 
		<td align="left"><a href = "/12/109">St. Johns County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.17</td> 
	</tr> 
	<tr> 
		<td align="left">44</td> 
		<td align="left"><a href = "/12/127">Volusia County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.1</td> 
	</tr> 
	<tr> 
		<td align="left">45</td> 
		<td align="left"><a href = "/12/17">Citrus County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">58.07</td> 
	</tr> 
	<tr> 
		<td align="left">46</td> 
		<td align="left"><a href = "/48/355">Nueces County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">58.03</td> 
	</tr> 
	<tr> 
		<td align="left">47</td> 
		<td align="left"><a href = "/48/247">Jim Hogg County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">57.73</td> 
	</tr> 
	<tr> 
		<td align="left">48</td> 
		<td align="left"><a href = "/48/47">Brooks County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">57.4</td> 
	</tr> 
	<tr> 
		<td align="left">49</td> 
		<td align="left"><a href = "/48/131">Duval County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">57.37</td> 
	</tr> 
	<tr> 
		<td align="left">50</td> 
		<td align="left"><a href = "/48/507">Zavala County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">57.3</td> 
	</tr> 
	<tr> 
		<td align="left">51</td> 
		<td align="left"><a href = "/48/409">San Patricio County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">57.13</td> 
	</tr> 
	<tr> 
		<td align="left">52</td> 
		<td align="left"><a href = "/12/35">Flagler County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">56.93</td> 
	</tr> 
	<tr> 
		<td align="left">53</td> 
		<td align="left"><a href = "/6/65">Riverside County</a></td> 
		<td align="left"> California</td> 
		<td align="right">56.8</td> 
	</tr> 
	<tr> 
		<td align="left">54</td> 
		<td align="left"><a href = "/12/31">Duval County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">56.73</td> 
	</tr> 
	<tr> 
		<td align="left">55</td> 
		<td align="left"><a href = "/48/167">Galveston County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.7</td> 
	</tr> 
	<tr> 
		<td align="left">56</td> 
		<td align="left"><a href = "/6/25">Imperial County</a></td> 
		<td align="left"> California</td> 
		<td align="right">56.6</td> 
	</tr> 
	<tr> 
		<td align="left">57</td> 
		<td align="left"><a href = "/48/283">La Salle County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.53</td> 
	</tr> 
	<tr> 
		<td align="left">58</td> 
		<td align="left"><a href = "/48/57">Calhoun County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.5</td> 
	</tr> 
	<tr> 
		<td align="left">59</td> 
		<td align="left"><a href = "/48/479">Webb County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.37</td> 
	</tr> 
	<tr> 
		<td align="left">60</td> 
		<td align="left"><a href = "/48/469">Victoria County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.3</td> 
	</tr> 
	<tr> 
		<td align="left">61</td> 
		<td align="left"><a href = "/12/121">Suwannee County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">56.27</td> 
	</tr> 
	<tr> 
		<td align="left">62</td> 
		<td align="left"><a href = "/48/391">Refugio County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">56.1</td> 
	</tr> 
	<tr> 
		<td align="left">63</td> 
		<td align="left"><a href = "/22/75">Plaquemines Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">56.07</td> 
	</tr> 
	<tr> 
		<td align="left">64</td> 
		<td align="left"><a href = "/12/75">Levy County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">56.0</td> 
	</tr> 
	<tr> 
		<td align="left">65</td> 
		<td align="left"><a href = "/48/39">Brazoria County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">55.97</td> 
	</tr> 
	<tr> 
		<td align="left">66</td> 
		<td align="left"><a href = "/12/1">Alachua County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">55.97</td> 
	</tr> 
	<tr> 
		<td align="left">67</td> 
		<td align="left"><a href = "/48/25">Bee County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">55.93</td> 
	</tr> 
	<tr> 
		<td align="left">68</td> 
		<td align="left"><a href = "/48/239">Jackson County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">55.9</td> 
	</tr> 
	<tr> 
		<td align="left">69</td> 
		<td align="left"><a href = "/48/311">McMullen County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">55.63</td> 
	</tr> 
	<tr> 
		<td align="left">70</td> 
		<td align="left"><a href = "/48/175">Goliad County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">55.5</td> 
	</tr> 
	<tr> 
		<td align="left">71</td> 
		<td align="left"><a href = "/6/111">Ventura County</a></td> 
		<td align="left"> California</td> 
		<td align="right">55.43</td> 
	</tr> 
	<tr> 
		<td align="left">72</td> 
		<td align="left"><a href = "/22/51">Jefferson Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">55.4</td> 
	</tr> 
	<tr> 
		<td align="left">73</td> 
		<td align="left"><a href = "/22/109">Terrebonne Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">55.33</td> 
	</tr> 
	<tr> 
		<td align="left">74</td> 
		<td align="left"><a href = "/22/71">Orleans Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">55.3</td> 
	</tr> 
	<tr> 
		<td align="left">75</td> 
		<td align="left"><a href = "/22/89">St. Charles Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">55.23</td> 
	</tr> 
	<tr> 
		<td align="left">76</td> 
		<td align="left"><a href = "/22/57">Lafourche Parish</a></td> 
		<td align="left"> Louisiana</td> 
		<td align="right">55.13</td> 
	</tr> 
	<tr> 
		<td align="left">77</td> 
		<td align="left"><a href = "/12/7">Bradford County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">55.13</td> 
	</tr> 
	<tr> 
		<td align="left">78</td> 
		<td align="left"><a href = "/13/49">Charlton County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">55.13</td> 
	</tr> 
	<tr> 
		<td align="left">79</td> 
		<td align="left"><a href = "/12/125">Union County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">55.07</td> 
	</tr> 
	<tr> 
		<td align="left">80</td> 
		<td align="left"><a href = "/12/23">Columbia County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">55.07</td> 
	</tr> 
	<tr> 
		<td align="left">81</td> 
		<td align="left"><a href = "/4/21">Pinal County</a></td> 
		<td align="left"> Arizona</td> 
		<td align="right">55.07</td> 
	</tr> 
	<tr> 
		<td align="left">82</td> 
		<td align="left"><a href = "/6/37">Los Angeles County</a></td> 
		<td align="left"> California</td> 
		<td align="right">54.93</td> 
	</tr> 
	<tr> 
		<td align="left">83</td> 
		<td align="left"><a href = "/12/89">Nassau County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">54.9</td> 
	</tr> 
	<tr> 
		<td align="left">84</td> 
		<td align="left"><a href = "/48/297">Live Oak County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.87</td> 
	</tr> 
	<tr> 
		<td align="left">85</td> 
		<td align="left"><a href = "/48/323">Maverick County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.73</td> 
	</tr> 
	<tr> 
		<td align="left">86</td> 
		<td align="left"><a href = "/6/59">Orange County</a></td> 
		<td align="left"> California</td> 
		<td align="right">54.67</td> 
	</tr> 
	<tr> 
		<td align="left">87</td> 
		<td align="left"><a href = "/48/201">Harris County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.63</td> 
	</tr> 
	<tr> 
		<td align="left">88</td> 
		<td align="left"><a href = "/48/481">Wharton County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.57</td> 
	</tr> 
	<tr> 
		<td align="left">89</td> 
		<td align="left"><a href = "/4/27">Yuma County</a></td> 
		<td align="left"> Arizona</td> 
		<td align="right">54.57</td> 
	</tr> 
	<tr> 
		<td align="left">90</td> 
		<td align="left"><a href = "/48/123">DeWitt County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.53</td> 
	</tr> 
	<tr> 
		<td align="left">91</td> 
		<td align="left"><a href = "/48/127">Dimmit County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.53</td> 
	</tr> 
	<tr> 
		<td align="left">92</td> 
		<td align="left"><a href = "/12/5">Bay County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">54.47</td> 
	</tr> 
	<tr> 
		<td align="left">93</td> 
		<td align="left"><a href = "/48/255">Karnes County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.47</td> 
	</tr> 
	<tr> 
		<td align="left">94</td> 
		<td align="left"><a href = "/48/157">Fort Bend County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.33</td> 
	</tr> 
	<tr> 
		<td align="left">95</td> 
		<td align="left"><a href = "/12/19">Clay County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">54.33</td> 
	</tr> 
	<tr> 
		<td align="left">96</td> 
		<td align="left"><a href = "/48/245">Jefferson County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.3</td> 
	</tr> 
	<tr> 
		<td align="left">97</td> 
		<td align="left"><a href = "/12/37">Franklin County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">54.27</td> 
	</tr> 
	<tr> 
		<td align="left">98</td> 
		<td align="left"><a href = "/12/67">Lafayette County</a></td> 
		<td align="left"> Florida</td> 
		<td align="right">54.23</td> 
	</tr> 
	<tr> 
		<td align="left">99</td> 
		<td align="left"><a href = "/13/127">Glynn County</a></td> 
		<td align="left"> Georgia</td> 
		<td align="right">54.17</td> 
	</tr> 
	<tr> 
		<td align="left">100</td> 
		<td align="left"><a href = "/48/321">Matagorda County</a></td> 
		<td align="left"> Texas</td> 
		<td align="right">54.17</td> 
	</tr> 
	</table>
	</div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12"><font color = "black">
                <h1 align="center">List of Counties with the Lowest Winter Temperature</font></h1>
            </div>
        </div>
    </div>
    <div>
                    <table align = center class = "table" width = "70%" border = "1" frame = "void" 
        			   rules = "rows">
            		<thead>
            			<th style="text-align: left;"><font size = "-1">Rank</font></th>
            			<th style="text-align: left;"><font size = "-1">County</font></th>
            			<th style="text-align: left;"><font size = "-1">State</font></th>
            			<th style="text-align: right;"><font size = "-1">Winter Average Temperature (F)</font></th>
            		</thead> 

                     	<tr> 
		<td align="left">1</td> 
		<td align="left"><a href = "/2/185">North Slope Borough</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">-19.33</td> 
	</tr> 
	<tr> 
		<td align="left">2</td> 
		<td align="left"><a href = "/2/188">Northwest Arctic Borough</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">-0.43</td> 
	</tr> 
	<tr> 
		<td align="left">3</td> 
		<td align="left"><a href = "/2/90">Fairbanks North Star Borough</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">0.53</td> 
	</tr> 
	<tr> 
		<td align="left">4</td> 
		<td align="left"><a href = "/2/261">Valdez-Cordova Census Area</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">0.9</td> 
	</tr> 
	<tr> 
		<td align="left">5</td> 
		<td align="left"><a href = "/27/69">Kittson County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">4.7</td> 
	</tr> 
	<tr> 
		<td align="left">6</td> 
		<td align="left"><a href = "/38/19">Cavalier County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">6.63</td> 
	</tr> 
	<tr> 
		<td align="left">7</td> 
		<td align="left"><a href = "/27/135">Roseau County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">6.9</td> 
	</tr> 
	<tr> 
		<td align="left">8</td> 
		<td align="left"><a href = "/2/180">Nome Census Area</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">7.37</td> 
	</tr> 
	<tr> 
		<td align="left">9</td> 
		<td align="left"><a href = "/38/79">Rolette County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">8.1</td> 
	</tr> 
	<tr> 
		<td align="left">10</td> 
		<td align="left"><a href = "/38/67">Pembina County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">8.1</td> 
	</tr> 
	<tr> 
		<td align="left">11</td> 
		<td align="left"><a href = "/27/77">Lake of the Woods County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">8.8</td> 
	</tr> 
	<tr> 
		<td align="left">12</td> 
		<td align="left"><a href = "/27/61">Itasca County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.03</td> 
	</tr> 
	<tr> 
		<td align="left">13</td> 
		<td align="left"><a href = "/27/119">Polk County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.2</td> 
	</tr> 
	<tr> 
		<td align="left">14</td> 
		<td align="left"><a href = "/27/125">Red Lake County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.2</td> 
	</tr> 
	<tr> 
		<td align="left">15</td> 
		<td align="left"><a href = "/38/9">Bottineau County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">9.23</td> 
	</tr> 
	<tr> 
		<td align="left">16</td> 
		<td align="left"><a href = "/38/91">Steele County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">9.3</td> 
	</tr> 
	<tr> 
		<td align="left">17</td> 
		<td align="left"><a href = "/2/50">Bethel Census Area</a></td> 
		<td align="left"> Alaska</td> 
		<td align="right">9.37</td> 
	</tr> 
	<tr> 
		<td align="left">18</td> 
		<td align="left"><a href = "/27/29">Clearwater County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.47</td> 
	</tr> 
	<tr> 
		<td align="left">19</td> 
		<td align="left"><a href = "/38/69">Pierce County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">9.47</td> 
	</tr> 
	<tr> 
		<td align="left">20</td> 
		<td align="left"><a href = "/27/113">Pennington County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.5</td> 
	</tr> 
	<tr> 
		<td align="left">21</td> 
		<td align="left"><a href = "/27/89">Marshall County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.5</td> 
	</tr> 
	<tr> 
		<td align="left">22</td> 
		<td align="left"><a href = "/38/95">Towner County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">9.77</td> 
	</tr> 
	<tr> 
		<td align="left">23</td> 
		<td align="left"><a href = "/27/5">Becker County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">9.8</td> 
	</tr> 
	<tr> 
		<td align="left">24</td> 
		<td align="left"><a href = "/38/63">Nelson County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">9.9</td> 
	</tr> 
	<tr> 
		<td align="left">25</td> 
		<td align="left"><a href = "/38/39">Griggs County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">10.0</td> 
	</tr> 
	<tr> 
		<td align="left">26</td> 
		<td align="left"><a href = "/38/5">Benson County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">10.07</td> 
	</tr> 
	<tr> 
		<td align="left">27</td> 
		<td align="left"><a href = "/38/35">Grand Forks County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">10.13</td> 
	</tr> 
	<tr> 
		<td align="left">28</td> 
		<td align="left"><a href = "/27/7">Beltrami County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">10.23</td> 
	</tr> 
	<tr> 
		<td align="left">29</td> 
		<td align="left"><a href = "/27/159">Wadena County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">10.27</td> 
	</tr> 
	<tr> 
		<td align="left">30</td> 
		<td align="left"><a href = "/38/13">Burke County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">10.27</td> 
	</tr> 
	<tr> 
		<td align="left">31</td> 
		<td align="left"><a href = "/27/57">Hubbard County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">10.27</td> 
	</tr> 
	<tr> 
		<td align="left">32</td> 
		<td align="left"><a href = "/27/137">St. Louis County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">10.87</td> 
	</tr> 
	<tr> 
		<td align="left">33</td> 
		<td align="left"><a href = "/38/75">Renville County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">10.9</td> 
	</tr> 
	<tr> 
		<td align="left">34</td> 
		<td align="left"><a href = "/38/71">Ramsey County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">11.03</td> 
	</tr> 
	<tr> 
		<td align="left">35</td> 
		<td align="left"><a href = "/38/27">Eddy County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">11.07</td> 
	</tr> 
	<tr> 
		<td align="left">36</td> 
		<td align="left"><a href = "/38/61">Mountrail County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">11.27</td> 
	</tr> 
	<tr> 
		<td align="left">37</td> 
		<td align="left"><a href = "/27/71">Koochiching County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">11.6</td> 
	</tr> 
	<tr> 
		<td align="left">38</td> 
		<td align="left"><a href = "/38/3">Barnes County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">11.67</td> 
	</tr> 
	<tr> 
		<td align="left">39</td> 
		<td align="left"><a href = "/27/111">Otter Tail County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">11.73</td> 
	</tr> 
	<tr> 
		<td align="left">40</td> 
		<td align="left"><a href = "/38/17">Cass County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">11.9</td> 
	</tr> 
	<tr> 
		<td align="left">41</td> 
		<td align="left"><a href = "/27/1">Aitkin County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">11.97</td> 
	</tr> 
	<tr> 
		<td align="left">42</td> 
		<td align="left"><a href = "/38/97">Traill County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">12.0</td> 
	</tr> 
	<tr> 
		<td align="left">43</td> 
		<td align="left"><a href = "/27/87">Mahnomen County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">12.2</td> 
	</tr> 
	<tr> 
		<td align="left">44</td> 
		<td align="left"><a href = "/27/153">Todd County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">12.23</td> 
	</tr> 
	<tr> 
		<td align="left">45</td> 
		<td align="left"><a href = "/8/51">Gunnison County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">12.4</td> 
	</tr> 
	<tr> 
		<td align="left">46</td> 
		<td align="left"><a href = "/38/93">Stutsman County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">12.53</td> 
	</tr> 
	<tr> 
		<td align="left">47</td> 
		<td align="left"><a href = "/27/27">Clay County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">12.53</td> 
	</tr> 
	<tr> 
		<td align="left">48</td> 
		<td align="left"><a href = "/38/99">Walsh County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">12.63</td> 
	</tr> 
	<tr> 
		<td align="left">49</td> 
		<td align="left"><a href = "/38/55">McLean County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">12.87</td> 
	</tr> 
	<tr> 
		<td align="left">50</td> 
		<td align="left"><a href = "/38/101">Ward County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">13.07</td> 
	</tr> 
	<tr> 
		<td align="left">51</td> 
		<td align="left"><a href = "/27/155">Traverse County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.2</td> 
	</tr> 
	<tr> 
		<td align="left">52</td> 
		<td align="left"><a href = "/38/103">Wells County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">13.23</td> 
	</tr> 
	<tr> 
		<td align="left">53</td> 
		<td align="left"><a href = "/27/21">Cass County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.27</td> 
	</tr> 
	<tr> 
		<td align="left">54</td> 
		<td align="left"><a href = "/27/149">Stevens County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.33</td> 
	</tr> 
	<tr> 
		<td align="left">55</td> 
		<td align="left"><a href = "/27/75">Lake County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.37</td> 
	</tr> 
	<tr> 
		<td align="left">56</td> 
		<td align="left"><a href = "/38/81">Sargent County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">13.43</td> 
	</tr> 
	<tr> 
		<td align="left">57</td> 
		<td align="left"><a href = "/27/51">Grant County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.47</td> 
	</tr> 
	<tr> 
		<td align="left">58</td> 
		<td align="left"><a href = "/27/41">Douglas County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.53</td> 
	</tr> 
	<tr> 
		<td align="left">59</td> 
		<td align="left"><a href = "/27/115">Pine County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.57</td> 
	</tr> 
	<tr> 
		<td align="left">60</td> 
		<td align="left"><a href = "/8/79">Mineral County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">13.57</td> 
	</tr> 
	<tr> 
		<td align="left">61</td> 
		<td align="left"><a href = "/55/125">Vilas County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">13.6</td> 
	</tr> 
	<tr> 
		<td align="left">62</td> 
		<td align="left"><a href = "/27/95">Mille Lacs County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.67</td> 
	</tr> 
	<tr> 
		<td align="left">63</td> 
		<td align="left"><a href = "/27/65">Kanabec County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.73</td> 
	</tr> 
	<tr> 
		<td align="left">64</td> 
		<td align="left"><a href = "/46/91">Marshall County</a></td> 
		<td align="left"> South Dakota</td> 
		<td align="right">13.77</td> 
	</tr> 
	<tr> 
		<td align="left">65</td> 
		<td align="left"><a href = "/27/93">Meeker County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.8</td> 
	</tr> 
	<tr> 
		<td align="left">66</td> 
		<td align="left"><a href = "/30/19">Daniels County</a></td> 
		<td align="left"> Montana</td> 
		<td align="right">13.8</td> 
	</tr> 
	<tr> 
		<td align="left">67</td> 
		<td align="left"><a href = "/38/77">Richland County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">13.83</td> 
	</tr> 
	<tr> 
		<td align="left">68</td> 
		<td align="left"><a href = "/27/25">Chisago County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">13.93</td> 
	</tr> 
	<tr> 
		<td align="left">69</td> 
		<td align="left"><a href = "/38/105">Williams County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">13.93</td> 
	</tr> 
	<tr> 
		<td align="left">70</td> 
		<td align="left"><a href = "/55/113">Sawyer County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">13.93</td> 
	</tr> 
	<tr> 
		<td align="left">71</td> 
		<td align="left"><a href = "/27/17">Carlton County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">14.0</td> 
	</tr> 
	<tr> 
		<td align="left">72</td> 
		<td align="left"><a href = "/56/39">Teton County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">14.03</td> 
	</tr> 
	<tr> 
		<td align="left">73</td> 
		<td align="left"><a href = "/38/43">Kidder County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.03</td> 
	</tr> 
	<tr> 
		<td align="left">74</td> 
		<td align="left"><a href = "/26/71">Iron County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">14.07</td> 
	</tr> 
	<tr> 
		<td align="left">75</td> 
		<td align="left"><a href = "/46/13">Brown County</a></td> 
		<td align="left"> South Dakota</td> 
		<td align="right">14.07</td> 
	</tr> 
	<tr> 
		<td align="left">76</td> 
		<td align="left"><a href = "/27/167">Wilkin County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">14.13</td> 
	</tr> 
	<tr> 
		<td align="left">77</td> 
		<td align="left"><a href = "/56/23">Lincoln County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">14.17</td> 
	</tr> 
	<tr> 
		<td align="left">78</td> 
		<td align="left"><a href = "/23/7">Franklin County</a></td> 
		<td align="left"> Maine</td> 
		<td align="right">14.2</td> 
	</tr> 
	<tr> 
		<td align="left">79</td> 
		<td align="left"><a href = "/38/47">Logan County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.2</td> 
	</tr> 
	<tr> 
		<td align="left">80</td> 
		<td align="left"><a href = "/38/45">LaMoure County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.2</td> 
	</tr> 
	<tr> 
		<td align="left">81</td> 
		<td align="left"><a href = "/38/21">Dickey County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.2</td> 
	</tr> 
	<tr> 
		<td align="left">82</td> 
		<td align="left"><a href = "/26/13">Baraga County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">14.2</td> 
	</tr> 
	<tr> 
		<td align="left">83</td> 
		<td align="left"><a href = "/26/53">Gogebic County</a></td> 
		<td align="left"> Michigan</td> 
		<td align="right">14.23</td> 
	</tr> 
	<tr> 
		<td align="left">84</td> 
		<td align="left"><a href = "/55/129">Washburn County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.23</td> 
	</tr> 
	<tr> 
		<td align="left">85</td> 
		<td align="left"><a href = "/55/67">Langlade County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.27</td> 
	</tr> 
	<tr> 
		<td align="left">86</td> 
		<td align="left"><a href = "/55/99">Price County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.27</td> 
	</tr> 
	<tr> 
		<td align="left">87</td> 
		<td align="left"><a href = "/23/25">Somerset County</a></td> 
		<td align="left"> Maine</td> 
		<td align="right">14.3</td> 
	</tr> 
	<tr> 
		<td align="left">88</td> 
		<td align="left"><a href = "/38/83">Sheridan County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.33</td> 
	</tr> 
	<tr> 
		<td align="left">89</td> 
		<td align="left"><a href = "/23/21">Piscataquis County</a></td> 
		<td align="left"> Maine</td> 
		<td align="right">14.33</td> 
	</tr> 
	<tr> 
		<td align="left">90</td> 
		<td align="left"><a href = "/27/35">Crow Wing County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">14.37</td> 
	</tr> 
	<tr> 
		<td align="left">91</td> 
		<td align="left"><a href = "/38/73">Ransom County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.4</td> 
	</tr> 
	<tr> 
		<td align="left">92</td> 
		<td align="left"><a href = "/55/5">Barron County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.4</td> 
	</tr> 
	<tr> 
		<td align="left">93</td> 
		<td align="left"><a href = "/46/57">Hamlin County</a></td> 
		<td align="left"> South Dakota</td> 
		<td align="right">14.47</td> 
	</tr> 
	<tr> 
		<td align="left">94</td> 
		<td align="left"><a href = "/55/3">Ashland County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.5</td> 
	</tr> 
	<tr> 
		<td align="left">95</td> 
		<td align="left"><a href = "/8/49">Grand County</a></td> 
		<td align="left"> Colorado</td> 
		<td align="right">14.53</td> 
	</tr> 
	<tr> 
		<td align="left">96</td> 
		<td align="left"><a href = "/27/151">Swift County</a></td> 
		<td align="left"> Minnesota</td> 
		<td align="right">14.6</td> 
	</tr> 
	<tr> 
		<td align="left">97</td> 
		<td align="left"><a href = "/38/49">McHenry County</a></td> 
		<td align="left"> North Dakota</td> 
		<td align="right">14.67</td> 
	</tr> 
	<tr> 
		<td align="left">98</td> 
		<td align="left"><a href = "/30/91">Sheridan County</a></td> 
		<td align="left"> Montana</td> 
		<td align="right">14.67</td> 
	</tr> 
	<tr> 
		<td align="left">99</td> 
		<td align="left"><a href = "/56/35">Sublette County</a></td> 
		<td align="left"> Wyoming</td> 
		<td align="right">14.73</td> 
	</tr> 
	<tr> 
		<td align="left">100</td> 
		<td align="left"><a href = "/55/51">Iron County</a></td> 
		<td align="left"> Wisconsin</td> 
		<td align="right">14.77</td> 
	</tr> 
	</table>
	</div>
            <style>
        .table { 
            border-bottom: 1px; 
            text-color: black; 
            text-align: center; 
            font-family: Montserrat,sans-serif; 
            border-top: 1px solid black;
            font-size: 12px;
        }
        .table th { border: 0px }
        .table td {
            border: none;
        }
        .table tr{
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            border-collapse: collapse;
        }
        .fixed-table-container { border:0px ; }
        .table_header { font-size: 13px; text-align: center; }
        </style>

    </body>
    </html>
    